---
import BaseLayout from './../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';

const pageTitle = 'Мой блог об Astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Мой блог об изучении Astro</h1>
	<p>Здесь я буду публиковать записи о своем пути изучения Astro.</p>

	<ul>

		{allPosts.map((post) => <BlogPost postUrl={post.url} postTitle={post.frontmatter.title} />) }
	</ul>
</BaseLayout>